                <aside id="blogroll" class="widget widget_members">
                    <h3 class="widget-title">Members</h3>
                    <ul class="blogroll">
                        <li><a href="http://q.pnq.cc/" rel="met colleague" target="_blank">FLASHLIGHT</a></li>
                        <li><a href="http://blog.allenm.me/" rel="met colleague" target="_blank">Allen.M成长的路</a></li>
                        <li><a href="http://blog.edgar.im/" rel="met colleague" target="_blank">Edgar's Blog</a></li>
                    </ul>
                </aside>
